
.App {
  text-align: center;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 4px;
}

.row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #ddd;
}

.status {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

 .winner-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.winner-popup.show {
  display: block;
}
